#newsTitle {
    font-size: 22px;
    color: #F7F9FB;
    padding: 5px 0 5px 0;
    font-family: 'Kanit', sans-serif;
}
div.small.card {
    height: 60%;
    background-color: #869383;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    border-radius: 10px;
    -webkit-box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
    box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
}
div.card-image {
    max-height: 185px;
    border-radius: 10px 10px 0 0

}
div.card-content {
    text-align: center;
    border-top: 1.5px solid #887755;
}
#newsSource {
    text-align: left;
    margin-left: 5px;
    font-style: italic;
}
