.profilePic{
    width: 200px;
    height: 200px;
    margin-left:  auto;
    margin-right:  auto;
    display: block;
    
}
div.small.card {
    height: 60%;
    background-color: #869383;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
    box-shadow: 14px 11px 54px -6px rgba(0,0,0,0.76);
}
